# Dependencias
node_modules/
Frontend/node_modules/
Backend/node_modules/

# Variables de entorno
.env
Backend/.env
Frontend/.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo